@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, #212130 50%)
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

.text-secondary {
  color: #0070f3;
}

.navbar-icon svg {
  stroke: #0070f3;
  fill: #0070f3;
}

#cover-background {
  background: linear-gradient(
    90.21deg,
    rgba(33, 33, 48, 0.5) -5.91%,
    rgba(57, 48, 74, 0.5) 111.58%
  );
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
